<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-top:10px;">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div class="field" style="margin-top:10px;">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div style="margin-top:10px;">
    <%= f.label :birthday %>
    <%= f.date_select :birthday, :start_year => Date.current.year-100, :end_year => Date.current.year %>
  </div>
  <div class="field" style="margin-top:10px;">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field" style="margin-top:10px;">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>  
  <div class="actions" style="margin-top:10px;">
    <%= f.submit %>
  </div>
<% end %>
