%p{:style => "margin:18px 0 0 2px;"}
  = form_for(@wisdom) do |f|
    = f.text_area :quote, :id => "quote_text"
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :submitter_age, :value => current_user.age
    = f.submit "", :id => "sharewisdom", :class => "submit"