<%= form_for(@wisdom) do |f| %>
  <% if @wisdom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wisdom.errors.count, "error") %> prohibited this wisdom from being saved:</h2>

      <ul>
      <% @wisdom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote %><br />
    <%= f.text_area :quote %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :submitter_age, :value => current_user.age %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
