= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f|
  - if !f.error_messages==""
    .notification.information.png_bg
      %div= f.error_messages
  - if flash[:notice]
    .notification.information.png_bg
      %div= flash[:notice]
  %p{:style => "margin-top:20px;position:relative"}
    %label{:style => "position:absolute;left:100px;"} Login
    = f.text_field :login, {:class => "text-input", :style => "margin-left:50px"}
  .clear
  %p{:style => "margin-top:20px;position:relative"}
    %label{:style => "position:absolute;left:100px;"} Password
    = f.password_field :password, {:class => "text-input", :style => "margin-left:50px"}
  .clear
  %p#remember-password{:style => "margin-top:20px;"}
    = f.check_box :remember_me
    Remember Me
  .clear
  %p{:style => "margin-top:20px;"}
    = f.submit "Sign In", {:class => "button"}
    = " or "
    = link_to "Sign Up", new_user_path