<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @title %></title>
<%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.10.custom", "basics" %>
<%= javascript_include_tag "jquery-1.4.4.min", "jquery-ui-1.8.10.custom.min", "script" %>
<%= javascript_include_tag :defaults %>
</head>

<body>
<div id="wrapper">
  <div id="content">
    <div id="left_col">
      <%= link_to (image_tag "mm_banner.png"), root_path %>
      <div id="inner_content"> 
        
        <%= yield %>
                         
      <p>&nbsp;</p>
      <br />      
    </div>
  </div>
     
  <div id="right_col">
    <% if current_user %>
      <p style="margin-left:-80px;">Welcome <%= current_user.login %><br /><%= link_to "Logout", logout_path %></p>
    <% else %>
      <form method="link" action="/users/new">
      <button type="submit" id="signup" class="submit" style="position: absolute; margin-top: 2px; margin-left: -80px;"></button></form>
      <br /><br /><br />
      <p id="login-link"><%= link_to "Login", login_path %></p>
    <% end %>
    <!--
    <br />
    <a href="#"><br />
      <img src="images/facebook_32.png" style="position: absolute; margin-left: -80px;" width="32" height="32" border="0" /></a>&nbsp;
    <a href="#">
      <img src="images/twitter_32.png" style="position: absolute; margin-left: -47px;" width="32" height="32" border="0" />
    </a>
    -->  
    <div id="affiliate" style="margin-left:-80px;margin-top:20px;">
      <iframe src="http://rcm.amazon.com/e/cm?t=millio0c6-20&o=1&p=21&l=ur1&category=books&banner=1PBGJ6MX362TVT8X9P82&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe><br /><br />
      
      <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_c2a4b0a3-3fdc-46ba-a5ef-69ddc7a47b21"  WIDTH="120px" HEIGHT="500px"> <PARAM NAME="movie" VALUE="http://ws.amazon.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fmillio0c6-20%2F8010%2Fc2a4b0a3-3fdc-46ba-a5ef-69ddc7a47b21&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fmillio0c6-20%2F8010%2Fc2a4b0a3-3fdc-46ba-a5ef-69ddc7a47b21&Operation=GetDisplayTemplate" id="Player_c2a4b0a3-3fdc-46ba-a5ef-69ddc7a47b21" quality="high" bgcolor="#ffffff" name="Player_c2a4b0a3-3fdc-46ba-a5ef-69ddc7a47b21" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="500px" width="120px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fmillio0c6-20%2F8010%2Fc2a4b0a3-3fdc-46ba-a5ef-69ddc7a47b21&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
        
    </div>
    </div>
  
</div><!-- content -->
</div><!-- wrapper -->
<div id="footer">
<div id="navi" style="width: 300px;  margin: 0 auto;">
<ul>
<li><%= link_to "home", root_path %></li>
<li><%= link_to "about", about_path %></li>
<li><a href="#">contact us</a></li>
</ul>
<%= image_tag "bottom_iphone.png", {:style => "margin-left: 50%;float: left;"} %>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21452422-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
  jQuery("#slider-range").slider({
		range: true,
		min: 0,
		max: 100,
		values: [ 0, 100 ],
		slide: function( event, ui ) {
		  jQuery("#top-range").html(ui.values[0]);
		  jQuery("#bottom-range").html(ui.values[1]);
		},
		stop: function( event, ui ) {
			jQuery("#agelink").attr("href", "wisdoms/search?ceiling="+ui.values[1]+"&floor="+ui.values[0]);
			jQuery("#agelink").trigger("click");
		}
	});
</script>
</body>
</html>
